In [1]:
import pandas as pd

In [2]:
pwd

'/Users/user/Documents/test/class-time-analysis'

In [4]:
df = pd.read_csv('Data/example.csv')
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
newdf = df[['a', 'b']]
newdf

    a   b
0   0   1
1   4   5
2   8   9
3  12  13

In [7]:
newdf.to_csv('mynew.csv', index=False)

In [11]:
df1 = pd.read_excel('Data/Excel_Sample.xlsx', sheet_name='Sheet1')
df1

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [12]:
df1.columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd'], dtype='object')

In [13]:
df1.drop('Unnamed: 0', axis=1)

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [14]:
mylist_of_tables = pd.read_html('http://www.fdic.gov/bank/individual/failed/banklist.html')
mylist_of_tables

ValueError: No tables found

In [15]:
type(mylist_of_tables)

NameError: name 'mylist_of_tables' is not defined

In [16]:
len(mylist_of_tables)

NameError: name 'mylist_of_tables' is not defined

In [17]:
df2 = mylist_of_tables[0]
df2

NameError: name 'mylist_of_tables' is not defined